
/* Predator edtition */ 


#predator-ed-cont .download-header-logo h1 ,#predator-ed-cont  .code-grad, .ac-pre-ed{
    background-image: linear-gradient(to left,#38004e , #A600E7); /* Adjust colors as needed */
    -webkit-background-clip: text; /* Clip text to the background's shape */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
 
}

#predator-ed-cont .download-header-logo img{

    border: #A600E7 solid 2px;
}

#predator-ed-cont .show-case button
{
    background-image: linear-gradient(to left, #38004e  , #A600E7  );
}

#predator-ed-cont .Credentials-box
{
    border: 2px #A600E7 solid;
}






 /* Wireless edtition */ 

 #wireless-ed-cont .download-header-logo h1 , #wireless-ed-cont .code-grad , .Wireless-ed-theme {
    background-image: linear-gradient(to left,#590d22 , #a4133c); /* Adjust colors as needed */
    -webkit-background-clip: text; /* Clip text to the background's shape */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
}
#wireless-ed-cont .download-header-logo img{

    border: #a4133c solid 2px;
}

#wireless-ed-cont .show-case button
{
    background-image: linear-gradient(to left,#590d22  , #a4133c); 
}

#wireless-ed-cont .Credentials-box
{
    border: 2px #a4133c solid;
}

/*********************** Dark edtition ******************************/ 

  #Dark-ed-cont .download-header-logo h1 ,#Dark-ed-cont .code-grad, .Dark-ed-theme{
    background-image: linear-gradient(to left,#03034e , #0466c8); /* Adjust colors as needed */
    -webkit-background-clip: text; /* Clip text to the background's shape */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
 
}

#Dark-ed-cont .download-header-logo img{

    border: #0466c8 solid 2px;
}

#Dark-ed-cont .show-case button
{
    background-image: linear-gradient(to left,#010139  , #0466c8); 
}

#Dark-ed-cont .Credentials-box
{
    border: 2px #0466c8 solid;
}



/*********************** ARM edtition ******************************/ 

#ARM-ed-cont .download-header-logo h1,#ARM-ed-cont .code-grad ,.ARM-ed-theme{
    background-image: linear-gradient(to left,#10451d , #4ad66d); /* Adjust colors as needed */
    -webkit-background-clip: text; /* Clip text to the background's shape */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
}
#ARM-ed-cont .download-header-logo img{

    border: #4ad66d solid 2px;
}

#ARM-ed-cont .show-case button
{
    background-image: linear-gradient(to left,#10451d  , #4ad66d ); 
}

#ARM-ed-cont .Credentials-box
{
    border: 2px #4ad66d solid;
}
