
/* Gallery Header */
.header-Gallery h1 , .Gallary-box h1{

  font-size: 75px;
  font-weight: bolder;
}

/* Gallery Slider */

.Gallery-slider
{
  height: 900px;
  width: 100%;

}
.Gallary-box
{
  text-align: center;
  background-color: #041a2b;
  height: 100%;
  border-radius: 5px;
  border: rgb(3, 238, 255) solid 3px;  
  box-shadow: 0 2px 5px 5px #01a8b4;
  border-radius: 15px;
}

.spacer
{
  height: 100px;
}

.tab
{
  background: #093e57;
  width: 300px;
  height: 50px;
  border-radius: 5px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.slider-bullets {
  display: flex;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: #01a8b4;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.prev-arrow,
.next-arrow {
  cursor: pointer;
  margin: 0 10px;
  color: #03d3e2;
  transition: all 0.2s ease-in-out;
}

.prev-arrow:hover,
.next-arrow:hover,
.bullet:hover {
  scale: 1.2;
  color: #01a8b4;
}

.custom-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.custom-slides,.custom-slides-2, .custom-slides-3 {
  overflow: hidden;
}

.custom-slides img ,.custom-slides-2 img, .custom-slides-3 img {
  width: 100%;
  display: none;
  border-radius: 15px;
}

.custom-slides img:first-child ,.custom-slides-2 img:first-child, .custom-slides-3 img:first-child{
  display: block;
}

.custom-prev, .custom-next,.custom-prev-2, .custom-prev-3, .custom-next-2, .custom-next-3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.custom-prev,.custom-prev-2, .custom-prev-3 {
  left: 0;
}

.custom-next, .custom-next-2, .custom-next-3{
  right: 0;
}

.custom-next , .custom-prev
{
  transition: all 0.2s ease-in-out;
}

.custom-next:hover,.custom-prev:hover
{
  scale: 1.1;

}