*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    color: #bfb0b0;
    text-decoration-color: #728ea9;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-image: url('/assets/img/blood.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.axyl-server-stats {
    display: flex;
    flex: 1;
}

.axyl-server-stats-inner {
    display: flex;
    position: fixed;
    top: 0;
    border-radius: 15px;
    margin: 10px 10px auto;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-decoration: underline;
    z-index: 1000;
}

.center-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    color: #000000;
}

.dog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: right;
    text-decoration: underline;
}

.dog-section img {
    border-radius: 15px;
    margin: 10px 10px auto;
}
.call-to-action {
    clear:both;
    margin-top: 72px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cta-button {
    background-color: #DC143C;
    color: #000000;
    border: none;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.cta-button:hover {
    background-color: #000000;
    color: #DC143C;
}
footer {
    background-color: #DC143C;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #000000, #DC143C);
    border-radius:  15px;
    z-index: 1000;
    align-self: flex-start;
}
nav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline
}
