*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    color: #bfb0b0;
    text-decoration-color: #728ea9;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-image: url('/assets/img/blood.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.axyl-server-stats {
    display: flex;
    flex: 1;
}

.center-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border-bottom: 3px solid #434C5E;
  display: flex;
  justify-content: center;
  min-height: 40px;
  align-self: stretch;
  padding: 5px 0;
}
.header .header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  user-select: none;
}
.header .header__logo img {
  max-height: 50px;
  margin: 6px 0;
}
.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1120px;
}
.header .header__nav__btn {
  display: none;
}
.header .header__nav {
  display: flex;
}
.header .header__nav a {
  text-decoration: none;
  color: #ECEFF4;
  font-weight: 600;
  font-size: 1.3em;.header .header__nav__links {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
.header .header__nav__links .github a {
  color: #2E3440;
  margin: 0 8px;
  background-color: #88C0D0;
  border-radius: 6px;
  padding: 2px 12px;
  border: 2px solid #88C0D0;
  transition: all 0.25s ease-in-out;
}
.header .header__nav__links .github a:hover {
  color: #88C0D0;
  border-color: #88C0D0;
  background-color: rgba(0, 0, 0, 0);
}
  margin: 0 9px;
  transition: all 0.25s ease-in-out;
}
.header .header__nav a:hover {
  color: #88C0D0;
}
.header .header__nav a.header__nav--active {
  color: #88C0D0;
}

.dog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: right;
    text-decoration: underline;
}

.dog-section img {
    border-radius: 15px;
    margin: 10px 10px auto;
}
.call-to-action {
    clear:both;
    margin-top: 72px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cta-button {
    background-color: #DC143C;
    color: #000000;
    border: none;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.cta-button:hover {
    background-color: #000000;
    color: #DC143C;
}
footer {
    background-color: #DC143C;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

